@font-face {
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/HelveticaNeueLight.ttf') format('ttf')
}

body, button {
    font-family: 'Arial';
}

.program-wrapper {
    position: absolute;
    /* width: calc(100% - 150px); */
    width: calc(100%);
    /* left: 150px; */
}

.program-filters {
    /* width: calc(100% - 150px); */
    width: calc(100%);
    /* left: 150px; */
    position: fixed;
    padding: 5px 20px;
    height: 75px;
    z-index: 100;
    display: initial;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 21px -20px rgb(0 0 0 / 67%);
    -webkit-box-shadow: 0px 5px 21px -20px rgba(0,0,0,0.67); 
}

.content {
    position: fixed;
    top: 75px;
    padding: 0 100px;
    width: calc(100%);
    /* width: calc(100% - 150px); */
    /* left: 150px; */
    height: calc(100% - 75px);
    overflow-y: scroll;
}

.months-listing{
    width: 70%;
    margin: 0 auto;
}

.title {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.interval-title {
    text-align: center;
    font-size: 14px;
}

.mois {
    text-align: center;
    font-size: 20px;
    color: red;
    padding-bottom: 30px;
}

.month {
    background-color: white;
    padding: 50px 0;
}

.month>table {
    border-collapse: collapse;
    width: 100%;
}

.month>table>thead>tr>td, .month>table>tbody>tr>td {
    width: 200px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.month>table>thead>tr>td {
    text-align: center;
}

.month>table>tbody>tr>td {
    vertical-align: top;
    height: 60px;
}

.month>table>tbody>tr>td>span {
    color: #aaa;
}

.month>table>tbody>tr>td>p {
    line-height: 20px;
    margin-top: 10px;
}

@media print {

    .program-wrapper, .content {
        position: relative;
        width: 100%;
        padding: 0 30px;
        left: 0;
    }

    .months-listing{
        width: 100%;
    }

    .program-filters {
        display: none;
    }

    .month>table>thead>tr>td {
        font-size: 8pt;
        padding: 10px 15px;
    }

    .title {
        padding-top: 30pt;
    }

    .interval-title, .mois {
        font-size: 8pt;
    }

    .month>table>tbody>tr>td>span {
        font-size: 8pt;
    }

    .month>table>tbody>tr>td>p {
        font-size: 8pt;
        line-height: 15px;
    }

    .pagebreak {
        clear: both;
        page-break-after: always;
    }
    /* page-break-after works, as well */
}